<div class="threadContainer" ng-repeat="board in boards track by $index">
  <div class="row threadMain">
    <div class="col-sm-12 threadTitle">
      <a href="/boards/{{board.fid}}" class="col-sm-3">{{board.name}}</a>
      <img src="/forum-image" alt="" class="pull-right">
    </div>
    <div class="row" style="font-size:.80em;">
	    <span class="threadTitle" ng-hide="board.toggle.show">
	      <p class="col-sm-1" style="text-align:center;">Forums</p>
	      <p class="col-sm-1 col-sm-offset-5" style="text-align:center;">Threads</p>
	      <p class="col-sm-1" style="text-align:center;">Posts</p>
	      <p class="col-sm-2 col-sm-offset-2" style="text-align:center;">Last Post</p>
		</span>
    </div>
    <!-- Sub forums && threads container -->
    <div ng-class="{openThread:toggle.show}" class="col-xs-12 thread" ng-repeat="sub in board.replies track by $index">


    	<!-- Sub Forums -->
    	<div snap-to el-pos="elPos" toggle="toggle" ng-class="{slideLeft:toggle.show}" id="header_{{$id}}" ng-class="" class="threadHead">

    		<!-- Forum Title, Image, Description -->
			<p id="{{sub.fid}}" ng-click="showForum(sub, $event);" class="col-sm-4 pointer forumTitle"><img src="/boardimage" alt="" class=""> {{sub.name}}
			<br><span class="forumDes" ng-bind="sub.description"></span></p>

			<!-- Sub Forum Information -->
			<span>
				<p class="col-xs-1 col-sm-offset-2" style="text-align:center;"><span>{{sub.threads}}</span>
				</p>
				<p class="col-xs-1 " style="text-align:center;"><span>{{sub.posts}}</span></p>
				<p class="col-xs-3 col-xs-offset-1" style="text-align:right;">
				<span ng-if="sub.lastpostsubject">
				  <span ng-hide="toggle.show" style="font-size:.75em;">{{sub.lastpost*1000 | date : 'MM-dd-yyyy h:mm a'}}</span>
				  <span ng-show="toggle.show"><i class="fa fa-close pointer" ng-click="showForum(sub)"></i></span>
				  <br>
				  <a ng-hide="toggle.show" href="/forum/showthread?fid={{sub.fid}}&tid={{sub.lastposttid}}&action=lastpost">{{sub.lastpostsubject | limitTo: 25}}...</a>
				  <br><span ng-show="sub.lastposter && !toggle.show" style="font-size:.75em;">by {{sub.lastposter}}</span>
				</span>
				<span ng-if="!sub.lastposter" style="font-size:.80em;">
          <span ng-show="!toggle.show">Never</span>
          <span ng-show="toggle.show"><i class="fa fa-close pointer" ng-click="showForum(sub)"></i></span>
        </span>
				</p>
			</span>

			<span ng-show="toggle.show">
				<!-- <button ng-click="closeAll()">Create Post</button> -->
			</span>

    	</div>
	<!-- Displays Threads -->
	<threads></threads>

    </div>
  </div>
</div>
