<div class="" id="main-boards">
    <ul ng-repeat="board in boards">
        <li>
            <div class="thread">
                <h4 style="color:black;text-align:center;">{{board.name}}</h4>
                <ul ng-repeat="sub in board.replies">
                    <li ng-click="show(sub)" class="pointer"><p style="color:black;">{{sub.name}}</p></li>
                    <li><a ui-sref="threadView({id: sub.lastposttid})">{{sub.lastpostsubject}}</a></li>
                    <li>{{sub.lastposter}}</li>
                </ul>
            </div>
        </li>
    </ul>
</div>
