// .t_container {
// 	margin-top: 30px;
// 	overflow:hidden;
// }

.shownClass {
	position:'absolute';
	left:'-50px';
	z-index:'2';
}
.hiddenClass {

}

.threadHead {
	@include transition(.4s ease-in-out);
	height:40px;
}
.threadTitle {

}
.forumTitle {
	@include transition(.4s ease-in-out);
	z-index: 2;
	margin-bottom: 0px;
	// line-height: 30px;
}
.forumDes {
	font-size: .75em;
	padding-left: 25px;
}
.openThread {
	min-height:100vh;
	/* height: 300px; */
	/* overflow-y: scroll; */
}
.slideLeft {
	// @include translate(-50px, 0);
	background: rgba(100,100,100,0.5);
	// font-size:75%;
	// height:30px;
	// line-height: 30px;
	// box-shadow: 0 0 3px 5px rgba(40,40,40,0.8);
}

.forumCloser {
	z-index: 1000;
	height: 70px;
	background: rgba(200,200,200,.8);
	width: 100%;
}
