<breadcrumb snap-to></breadcrumb>
<p style="margin-left:25px;">
    <button ng-click="compose(forums[0])" class="btn btn-primary">New Post</button>
    <button class="btn btn-success">Another Button</button>
</p>
<ul id="thread-container" class="">
    <li class="thread">
        <div class="row post-row">
            <div class="col-md-12 thread-inner">
                <div ng-repeat="f in forums" class="">
                    <p style="font-weight:bold;" class="thread_subject"><a ui-sref="threadview({id: f.tid})">{{f.subject}}</a><br>
                    <span style="color:black;font-size: 12px;">{{f.username}}</span></p>
                </div>

            </div>
        </div>
    </li>
</ul>
<synergy-composer synergy-controller="synergyComposer" synergy-submit="submit"></synergy-composer>
