<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="container">
  <div class="content">

    <div class="threadContainer" ng-repeat="board in boards track by $index">
      <div class="row body_container">

        <div class="thread_container">
          <div class="row thread_heading" id="{{board.pid}}">
            <a href="#" class="">{{board.subject}}</a>
            <div class="thread_body">
              <a href=""><img src="/userimage" alt=""> {{board.username}}</a>
              <p ng-bind-html="board.message | bbcode | findLinks | toTrusted"></p>
            </div>
            <!-- <img src="/forum-image" alt="" class="pull-right"> -->
          </div>

          <div class="thread_body row" ng-repeat="sub in board.replies" id="{{sub.pid}}">
            <a class="" href="/boards/{{sub.fid}}"><img src="/userimage" alt=""> {{sub.username}}</a>
            <p style="font-size:.75em;">{{sub.subject}}</p>
            <p class="" style="text-align:left;" ng-bind-html="sub.message | bbcode | findLinks | toTrusted"></p>
            <p class="col-xs-1 " style="text-align:center;"><span>{{sub.posts}}</span></p>
          </div>


          <create-post></create-post>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <p> Synergy Boards v0.1.0 |
        <a href="#">@tgienger</a> |
        <a href="#">Issues</a></p>
      </div>
    </footer>
  </div>
