$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

/* variables */
$font-color: #dcdcdc;
$font-dark: #2e2e2e;
$font-medium2: #5d5d5d;
$font-medium: #5d5d5d;
$font-light: #dcdcdc;
$font-lighter: #fafafa;
$body-color: #dcdcdc;
$header-color: #262626;
$post-color: #151515;
$post-back-color: rgb(250, 250, 250);
$post-border-color: #454545;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


/**
 * @mixin's
 */
@mixin box-sizing($style) {
  -webkit-border-radius: $style;
  -moz-border-radius: $style;
  -ms-border-radius: $style;
  -o-border-radius: $style;
  border-radius: $style;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transforms) {
  -webkit-transform:$transforms;
  -moz-transform:$transforms;
  -ms-transform:$transforms;
  -o-transform:$transforms;
  transform:$transforms;
}
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

/**
 * App-wide Styles
 */
body {color:$font-dark;font-family: 'Arimo', sans-serif;font-size: 15px;font-weight: 500;}
#container {
    margin-top: 100px;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.body_container {
  background: $body-color;
}
.pointer {
  cursor: pointer;
}
.stuck {
  position: fixed;
  top: 0;
}
.sexy_line {
    border: 0;
    height: 1px;
    background: rgb(209, 209, 209);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%,hsla(0,0%,0%,.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0,0%,0%,.75) 50%, hsla(0,0%,0%,0) 100%);
}

// Component styles are injected through grunt
// injector
@import 'createPost/createPost.scss';
@import 'forums/forums.scss';
@import 'forumview/forumview.scss';
@import 'main/main.scss';
@import 'navBar/navBar.scss';
@import 'sceditor/sceditor.scss';
@import 'threadView/threadView.scss';
@import 'threads/threads.scss';
@import 'modal/modal.scss';
// endinjector
