$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

/* variables */
$font-color: #dcdcdc;
$body-color: #1e1e1e;
$header-color: #262626;
$post-color: #151515;
$post-back-color: rgba(0,0,0,0.1);
$post-border-color: #454545;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';


/**
 * @mixin's
 */
@mixin box-sizing($style) {
  -webkit-webkit-border-radius: $style;
  -moz-webkit-border-radius: $style;
  -ms-webkit-border-radius: $style;
  -o-webkit-border-radius: $style;
  border-radius: $style;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transforms) {
  -webkit-transform:$transforms;
  -moz-transform:$transforms;
  -ms-transform:$transforms;
  -o-transform:$transforms;
  transform:$transforms;
}
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.body_container {
  background: $body-color;
}
.pointer {
  cursor: pointer;
}

// Component styles are injected through grunt
// injector
@import 'createPost/createPost.scss';
@import 'forums/forums.scss';
@import 'forumview/forumview.scss';
@import 'main/main.scss';
@import 'sceditor/sceditor.scss';
@import 'threadView/threadView.scss';
@import 'threads/threads.scss';
@import 'modal/modal.scss';
// endinjector
