<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="container">
  <div class="content">
    <div class="threadContainer" ng-repeat="board in boards track by $index">
      <div class="row threadMain">
        <div class="col-sm-12 threadTitle">
          <a href="/boards/{{board.fid}}" class="col-sm-3">{{board.name}}</a>
          <img src="/forum-image" alt="" class="pull-right">
        </div>
        <div class="row" style="font-size:.80em;">
          <p class="col-sm-1" style="text-align:center;">Forums</p>
          <p class="col-sm-1 col-sm-offset-5" style="text-align:center;">Threads</p>
          <p class="col-sm-1" style="text-align:center;">Posts</p>
          <p class="col-sm-2 col-sm-offset-2" style="text-align:center;">Last Post</p>

        </div>
        <div ng-click="showThreads = !showThreads" class="thread col-xs-12 thread" ng-repeat="sub in board.replies">
          <a class="col-sm-4 " href="/boards/{{sub.fid}}"><img src="/boardimage" alt=""> {{sub.name}}</a>

          <p ng-hide="showThreads" class="col-xs-1 col-sm-offset-2" style="text-align:center;"><span>{{sub.threads}}</span></p>
          <p ng-hide="showThreads" class="col-xs-1 " style="text-align:center;"><span>{{sub.posts}}</span></p>
          <p ng-hide="showThreads" class="col-xs-3 col-xs-offset-1" style="text-align:right;">
            <span ng-if="sub.lastpostsubject">
              <span style="font-size:.75em;">{{sub.lastpost*1000 | date : 'MM-dd-yyyy h:mm a'}}</span>
              <br><a href="/forumview/{{sub.lastposttid}}">{{sub.lastpostsubject | limitTo: 25}}...</a>
              <br><span ng-show="sub.lastposter" style="font-size:.75em;">by {{sub.lastposter}}</span>
            </span>
            <span ng-if="!sub.lastposter" style="font-size:.80em;">Never</span>
          </p>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
        <p> Synergy Boards v0.1.0 |
          <a href="#">@tgienger</a> |
           <a href="#">Issues</a></p>
    </div>
  </footer>
</div>
