* {
  color: white;
}
body {
  background: $body-color;
  margin:0;
  padding:0;
}
.board-container {
    margin: 0;
    padding: 0;
    list-style-type:none;
}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}
