
/* Composer */
.composer_container {
	position: fixed;
	bottom: 0;
}
.composer_header {
	height: 10px;
	position: absolute;
	top:3px;
	right:3px;
	color: black;
	text-align: right;
	width: 100%;
}
.composer {
	width: 100%;
	height: 275px;
	border-top: 1px solid #a8a8a8;
	padding: 3px;
	position:relative;
	background: $body-color;
	color:black;
}
#text-input {
	width: 49%;
	height:200px;
	/* float:left; */
	border:0;
	position:absolute;
	top:28px;
	left:3px;
	resize: none;
	/* color:black; */
}
#markdown-preview {
	color: $font-dark;
	overflow-y: scroll;
	border-left: 0;
	height: 200px;
	width: 49%;
	position:absolute;
	top: 28px;
	right: 3px;
}
#markdown-preview * {
	color: $font-dark;
}
