#createpost {
  /* color: \$font-color; */
  /* background: \$post-back-color; */
  @include box-sizing(border-box);
  width: 100%;
  max-width: 100%;
}
.sc-editor {
  height: 200px;
}

.sceditor-container {
  /* background: \$post-back-color; */
  /* @include box-sizing(border-box); */
}

.sceditor-container iframe,
.sceditor-container textarea{
  /* background: \$post-back-color; */
  color: $font-color;
}

.sceditor-toolbar {
  /* height: 35px; */
  background: $header-color;
  color: $font-color;
}
