
<div collapse="composer.collapse" class="composer_container navbar-fixed-bottom">
    <div class="composer">

        <!-- <div class="composer-header pull-right"><i class="fa fa-minus pointer" ng-click="closeComposer(false)"></i>&nbsp;<i class="fa fa-close pointer" ng-click="closeComposer(true)"></i>&nbsp;</div> -->
        <div id="dragbar" resizeable max="" min="">
            <i class="fa fa-bars drag-center"></i>
            <!-- <span class="drag-click-right">
                <i class="fa fa-chevron-up"></i>
            </span> -->
        </div>

        <!-- <button id="preview-button"><img src="assets/images/magnifier12.svg" alt="magnifying glass" width="20px"></button> -->

        <div class="composer_info">
            <input id="composer_subject" type="text" ng-model="composer.subject" placeholder="subject: ">
            <div phone-hidden="phone" class="" id="title">Creating in: {{composer.topic}}</div>

        </div>

        <div id="markdown_container">
            <div id="textarea_container">
                <div id="text-toolbar" class="well well-sm">
                    <i id="toolbar-bold" class="pointer fa fa-bold"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-italic" class="pointer fa fa-italic"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-code" class="pointer fa fa-code"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-link" class="pointer fa fa-link"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-quote" class="pointer fa fa-quote-left"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ul" class="pointer fa fa-list-ul"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ol" class="pointer fa fa-list-ol"></i>
                </div>
                <textarea scroll-only class="well" name="" id="text-input" ng-model="composer.markdown"></textarea>
            </div>

            <div id="preview_container">
                <div markdown="composer.markdown | bbcode"  id="markdown-preview" class="well preview"></div>
            </div>
        </div>

        <div id="composer_footer">
            <div class="btn btn-danger post-button btn-sm"  ng-click="closeComposer(true)"><i class="fa fa-ban"></i>&nbsp;Cancel</div>
            <div class="btn btn-primary post-button btn-sm"><i class="fa fa-plus"></i>&nbsp;{{composer.submit}}</div>
        </div>
    </div>
</div>
