<div scroll-only class="thread_container" collapse="!toggle.show">
  <div class="inner_container">
    <div class="row" style="font-size:.80em;">
      <p class="col-sm-4" style="text-align:center;">Subject</p>
      <p class="col-sm-1 col-sm-offset-2 text-center">Replies</p>
      <p class="col-sm-1 text-center">Views</p>
      <p class="col-sm-1 text-center">Rating</p>
      <p class="col-sm-2 text-right">Last Post</p>

    </div>
    <div ng-repeat="forum in forums" class="threads container">
      <div class="innerthread container" id="{{forum.pid}}">
        <div class="row">
          <a class="col-sm-4" href="/forum/showthread?pid={{forum.firstpost}}"> {{forum.subject}}</a>

          <p class="col-sm-1 col-sm-offset-2" style="text-align:center">{{forum.replies}}</p>

          <p class="col-sm-1" style="text-align:center">{{forum.views}}</p>

          <rating class="col-sm-2" ng-model="forum.current_rating" max="5" readonly="isReadonly"></rating>

          <p class="last-post-date  col-sm-2" ng-bind="forum.lastpost * 1000 | date : 'MM-dd-yyyy h:mm a'"></p>
        </div>

        <div class="row">
          <p style="font-size:.75em;" class="col-sm-9">{{forum.username}}</p>
          <p class="thread-lastpost col-sm-3 text-right"><a class="pointer">LastPost</a> : <a class="pointer">{{forum.lastposter}}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
