.thread_container {
	overflow-y: scroll;
	overflow-x: hidden;
	min-height: 100vh;
	// max-height: 100px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 5px;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;

}
.inner_container {
	background: rgba(100,100,100,0.1);
	min-height: unquote("calc(100vh - 70px)");
	border-radius: 5px;
	border-bottom: 2px solid silver;
	border-top: 2px solid silver;

}
.forumCloser {
	z-index: 1000;
	height: 70px;
	background: rgba(200,200,200,.8);
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.threads {
	// padding-bottom: 10px;
}
.innerthread {

}
.thread-lastpost {
	font-size: .9em;
}
.last-post-date {
	font-size: .80em;
}
