<div class="thread_container" collapse="!toggle.show">
  <div class="row" style="font-size:.80em;">
    <p class="col-sm-4" style="text-align:center;">Subject</p>
    <p class="col-sm-1 col-sm-offset-2" style="text-align:center;">Replies</p>
    <p class="col-sm-1" style="text-align:center;">Views</p>
    <p class="col-sm-1" style="text-align:center;">Rating</p>
    <p class="col-sm-2 col-sm-offset-1" style="text-align:center;">Last Post</p>

  </div>
  <div ng-repeat="forum in forums" class="">
    <div class="" id="{{forum.pid}}">
      <a class="col-sm-4" href="/forum/showthread?pid={{forum.firstpost}}"> {{forum.subject}}</a>

      <span class="col-sm-1 col-sm-offset-2" style="text-align:center">{{forum.replies}}</span>

      <span class="col-sm-1" style="text-align:center">{{forum.views}}</span>

      <rating class="col-sm-2" ng-model="forum.rating" max="5" readonly="isReadonly"></rating>
      <!-- <p class="" style="text-align:left;" ng-bind-html="forum.message | bbcode | findLinks | toTrusted"></p> -->
      <br>
      <p style="font-size:.75em;" class="col-sm-1">{{forum.username}}</p>
      <p class="" style="text-align:center;"></p>
      <br>
    </div>  
  </div>
</div>


